<div id="page-wrapper">
    <!-- title -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 page-title-div">
          <div class="well">
              Oops! Sorry!
              <div class="pull-right">
                  <a href="#/dashboard" class="btn btn-default btn-circle">
                      <i class="glyphicon glyphicon-arrow-left"></i>
                  </a>
              </div>
          </div>
      </div>
    </div>
    <!-- title -->
    <!-- error message -->
    <div class="row">
        <!-- col -->
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
            <!-- panel -->
            <div class="panel panel-default">
                <!-- panel body -->
                <div class="panel-body">
                    <!-- buttons -->
                    <p>Your request can not be processed. </p>
                    <!-- buttons -->
                </div>
                <!-- panel body -->
            </div>
            <!-- panel -->
        </div>
       <!-- col -->
    </div>
    <!-- error message -->
</div>
