<div ng-controller="sidenavCtrl">
   <section>
      <!-- side nav -->
      <md-sidenav class="md-accent-sidebar" md-component-id="left" md-disable-backdrop>
          <!-- side nav title -->
          <md-toolbar>
            <h1 class="md-toolbar-tools">&nbsp; QRisk</h1>
          </md-toolbar>
          <!-- side nav title -->
          <!-- side nav menu -->
          <md-content layout-margin>
             <ul>
                 <li ng-repeat="menu in menus">
                    <a href="{{menu.url}}">
                       <md-button ng-click="toggleLeft()" class="md-accent principal-menu">
                           <i class="glyphicon glyphicon-{{menu.icone}}"></i>&nbsp; {{menu.nome}}
                       </md-button>
                    </a>
                 </li>
             </ul>
         </md-content>
         <!-- side nav menu -->
         <!-- local messages -->
         <div class="col-xs-12 col-sm-12 col-md-12" >
            <ui-alert title="Mensagem" type="warning" message="'Your user profile havent got any menus.'"
                ng-show="!menus"></ui-alert>
         </div>
         <!-- local messages -->
      </md-sidenav>
      <!-- side nav -->
      <!-- top side nav bar -->
      <md-content flex layout-padding>
         <header>
            <div class="header-wrapper">
               <div class="header-title">
                  <span class="section-title">QRisk</span>
                  <span class="chapter-title"><span class="title-separator">-</span>Risk Management Model</span>
               </div>
            </div>
         </header>
         <nav>
            <button class="hamburger-button qp-ui" ng-click="toggleLeft()" role="tab">
               <md-icon md-svg-icon="img/icons/menu.svg" class="menu-icon"></md-icon>
            </button>
         </nav>
      </md-content>
      <!-- top side nav bar -->
   </section>
</div>
