<div id="page-wrapper">
    
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 page-title-div">
          <div class="well">
              {{::pageTitle}}
              <div class="pull-right">
                  <a href="#/usuario.get" class="btn btn-default btn-circle">
                      <i class="glyphicon glyphicon-arrow-left"></i>
                  </a>  
              </div>
          </div> 
      </div>
    </div>
    <!-- messages -->
    <div class="row">
       <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
           <ui-alert title="Erro" type="danger" message="error" ng-if="error"></ui-alert>
           <ui-alert title="Mensagem" type="success" message="success" ng-if="success"></ui-alert>
           <ui-alert title="Mensagem" type="warning" message="warning" ng-if="warning"></ui-alert> 
       </div>
    </div>
    <!-- messages --> 
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Cadastro
                </div>
                <div class="panel-body">
                    <form name="form">
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <input ng-model="usuario.nome" class="form-control" type="text" name="nome" 
                                   ng-required="true" ng-minlength="5" placeholder="Nome"/>
                            <!-- form group validation -->
                            <div ng-show="form.nome.$dirty" ng-messages="form.nome.$error">
                                <p class="help-block-error" ng-message="required">Please, type the name!</p>
                                <p class="help-block-error" ng-message="minlength">The name field must be at least 5 characters long.</p>
                            </div>
                            <!-- form group validation -->
                        </div>
                        <div class="form-group">
                            <label class="form-label">Usuário</label>
                            <input ng-model="usuario.login" class="form-control" type="text" name="login" 
                                   ng-required="true" ng-minlength="6" placeholder="Usuário"/>
                            <!-- form group validation -->
                            <div ng-show="form.login.$dirty" ng-messages="form.login.$error">
                                <p class="help-block-error" ng-message="required">Por favor, preencha o campo login!</p>
                                <p class="help-block-error" ng-message="minlength">O campo login deve ter no mínimo 5 caracteres.</p>
                            </div>
                            <!-- form group validation -->
                        </div>
                        <div class="form-group">
                            <label class="form-label">Senha</label>
                            <input ng-model="usuario.senha" class="form-control" type="password" name="senha" 
                                   ng-required="true" ng-minlength="6" placeholder="Senha"/>
                            <!-- form group validation -->
                            <div ng-show="form.senha.$dirty" ng-messages="form.senha.$error">
                                <p class="help-block-error" ng-message="required">Por favor, preencha o campo senha!</p>
                                <p class="help-block-error" ng-message="minlength">O campo senha deve ter no mínimo 6 caracteres.</p>
                            </div>
                            <!-- form group validation -->
                        </div>
                        <div class="form-group">
                            <label class="form-label">Perfil</label>
                            <select class="form-control" ng-model="usuario.id_usuario_perfil" ng-required="true"
                                    ng-options="usuarioPerfil.id as usuarioPerfil.nome for usuarioPerfil in usuariosPerfis | orderBy:'nome'" name="id_usuario_perfil">
                                <option value="">Selecione o Perfil</option>
                            </select>
                            <!-- form group validation -->
                            <div ng-show="form.id_usuario_perfil.$dirty" ng-messages="form.id_usuario_perfil.$error">
                                <p class="help-block-error" ng-message="required">Por favor, preencha o campo perfil!</p>
                            </div>
                            <!-- form group validation -->
                        </div>
                        <div class="form-group">
                            <label class="form-label">Status</label>
                            <select class="form-control" ng-model="usuario.id_status" ng-required="true"
                                    ng-options="usuarioStatus.id as usuarioStatus.nome for usuarioStatus in usuariosStatus | orderBy:'nome'" name="id_status">
                                <option value="">Select the status</option>
                            </select>
                            <!-- form group validation -->
                            <div ng-show="form.id_status.$dirty" ng-messages="form.id_status.$error">
                                <p class="help-block-error" ng-message="required">Please, type the status!</p>
                            </div>
                            <!-- form group validation -->
                        </div>
                    </form>
                    <button class="btn btn-primary btn-block" ng-click="addItem(usuario)" 
                        ng-disabled="form.$invalid">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>